[Service]
Type=oneshot
WorkingDirectory=/opt/kroger-recipes
ExecStart=/opt/kroger-recipes/server -c /root/kroger-recipes.json migrate up
ExecStart=/usr/bin/systemctl restart kroger-recipe.service